#site-header {
	padding-top: 120px;
	
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 120px;
	
	a {
		text-decoration: none;
	}

	#blog-logo {
		width: 60px;
		height: auto;
		display: block;
		margin-bottom: 1em;
	}

	.blog-title {
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 0px;
		max-width: none;

	}

	.blog-description {
		font-size: 18px;
		letter-spacing: 0;
		color: #aaa;
		max-width: none;
	
	}
}