.post-title {
	a {
		text-decoration: none;
	}
}

.continue-reading {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	&:link, &:visited {
		color: #4080ff;
	}
}

.home-template, .archive-template {
	hr {
		max-width: 800px;
		margin-bottom: 5em;
		margin-top: 5em;
	}

	.post {
		margin-bottom: 0;
	}
}